{% extends 'flatpages/default.html' %}

{% block title %} Search {% endblock title %}

{% load custom_tags %}

{% block content %}
<h1>Search posts</h1>
       <form action="" method="get">
           {{ filterset.form.as_p }}
           <input type="submit" value="Найти" />
       </form>

    {% if posts %}
        <table>
            <tr>
                <td>Subject</td>
                <td>Date_Time<td>
                <td>Text</td>
            </tr>
            {% for post in posts %}
                <tr>
                    <td>{{post.subject}}</td>
                    <td>{{post.date_time | date:'d M Y'}}</td>
                    <td>{{post.text | truncatechars:20}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}